<div class="admincard">
    <div class="admincard-content edit" pid="<%= dat.id %>">
        <textarea><%= dat.content %></textarea>
        <div class="preview"></div>
        <div class="btn-container">
            <button class="back btn-gd-primary btn-round back"><i class="iconfont ad-back-line"></i></button>
            <button class="save btn-gd-primary btn-round save"><i class="iconfont ad-floppy-o"></i></button>
        </div>
    </div>
</div>