<script src='/js/admin.js'></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-confirm@3.3.4/dist/jquery-confirm.min.css"
    integrity="sha256-b1ReresCHd4KO/p68QjPheEmGipFsg5FH4S43awZ9D8=" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/jquery-confirm@3.3.4/dist/jquery-confirm.min.js"
    integrity="sha256-ofvu/Oqhm74vuZGlfF1/b4OUWkK/fzlVlAWxkgHr+S4=" crossorigin="anonymous"></script>
</body>

</html>