<aside id="left-bar">
    <img class="avatar" src="/img/akari.jpg" height="90px">
    <nav class="navbar bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link post" href="#">文章</a>
            </li>
            <li class="nav-item">
                <a class="nav-link battle" href="#">战斗</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">实装哦</a>
            </li>
        </ul>
    </nav>
</aside>