<%- include('header'); -%>

<script src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.js"
    integrity="sha256-uEFhyfv3UgzRTnAZ+SEgvYepKKB0FW6RqZLrqfyUNug=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/socket.io-client@2.3.0/dist/socket.io.js"
    integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="/css/checkmate.css">

<div id="cover">
</div>
<div id="main">
    <div id="l">
        <div id="l-container">
            <h1 id="l-title">Checkmate!</h1>
            <br />
            <div>
                <strong>左键</strong>:选中;<strong>WASD</strong>:移动兵力;<strong>↑↓←→</strong>:移动选择;<strong>Q</strong>:清除所有移动;<strong>Z</strong>:切换半兵/全兵;<strong>左键拖动</strong>:移动视图;<strong>滚轮</strong>:缩放;
            </div>
            <div id="settings">
                <div id="settings-gamespeed">
                    <p>游戏速度</p>
                    <div id="settings-gamespeed-input">
                        <input style="width: 80%;" type="range" class="custom-range" step="1" min="1" max="4" value="2">
                        <p id="settings-gamespeed-input-display">2</p>
                    </div>
                </div>
                <div id="settings-gameprivate">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">私密模式
                    </label>
                </div>
                <div id="settings-gamemap">
                    <div class="btn-group">
                        <button type="button" data="1" class="btn btn-primary">随机地图</button>
                        <button type="button" data="2" class="btn btn-outline-primary">迷宫地图</button>
                    </div>
                </div>
                <br>
            </div>
            <div>总人数:<span id="total-user"></span></div>
            <div>准备人数:<span id="ready-user"></span></div>
            <button id="ready" class="btn btnv2" type="button">准备</button>
            <br />
            <button id="third" class="btn btnv2" type="button" style="margin-top: 5px; display: none;">旁观</button>
            <br />
            <div id="half" style="visibility: hidden;">全部派兵</div>
        </div>
    </div>
    <table id="m">
    </table>
    <div id="r">
        <table id="info" class="table">
            <thead>
                <tr>
                    <th>玩家昵称</th>
                    <th>领地数</th>
                    <th>兵力数</th>
                </tr>
            </thead>
            <tbody id="info-content">
            </tbody>
        </table>
    </div>
    <div id="message-box">
        <div id="msg-container">
            <p>系统消息:加入官方群:<strong>1104620253</strong>反馈Bug可获得经验哦!~</p>
        </div>
        <input type="text" class="form-control" placeholder="输入聊天内容" id="msg-sender">
    </div>
</div>
<style id="font-size-control">
    #m td {
        width: 30px;
        max-width: 30px;
        height: 30px;
        max-height: 30px;
    }
</style>
<script>var room = '<%= room %>'; </script>
<script src="/js/game/all.min.js"></script>
<%- include('footer'); -%>