@font-face {
  font-family: "checkmate-title";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_wjyxc7o31kf.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_wjyxc7o31kf.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_wjyxc7o31kf.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_wjyxc7o31kf.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_wjyxc7o31kf.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_wjyxc7o31kf.svg#杨任东竹石体-Bold")
      format("svg"); /* iOS 4.1- */
}
body {
  background: rgb(34, 34, 34);
}
strong {
  color: pink;
  font-size: 120%;
}
button.btnv2 {
  background-color: white;
  box-shadow: 2px 2px skyblue;
  color: gray !important;
  padding: 0.375rem 0.75rem;
  margin: 5px;
  font-size: 1rem;
  border: 0;
  border-width: 0 !important;
  outline: none !important;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  border-radius: 0;
}
button.btnv2:focus {
  box-shadow: 0 0 0 0;
}
button.btnv2:hover {
  cursor: pointer;
  background-color: #bbb !important;
  box-shadow: 3px 3px skyblue;
}
#cover {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: grey;
  z-index: 9999;
  visibility: hidden;
}
#main {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}
#m {
  position: fixed;
  /* width: 90vh;
    height: 90%; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: black 1px;
  border-spacing: 0px !important;
  z-index: -5;
}
#m td {
  overflow: hidden;
  border: 1px solid black;
  text-align: center;
  padding: 0;
  background: #dcdcdc;
  font-weight: 600;
}
#m .shown {
  border: 1px solid black; /*transparent*/
}
#m .unshown {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent; /**/
}
#m .selected {
  filter: opacity(0.4);
}
#m .own {
  cursor: pointer;
}
#m td {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border-spacing: 0px;
  background-size: 100% 100%;
}
#l {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background: var(--gray-dark);
  background-image: url("/img/bg-pattern.png");
  color: white;
  text-align: center;
  z-index: 20;
  /* animation: backgroundmove 10s linear infinite;
  -webkit-animation: backgroundmove 10s linear infinite; */
}
@keyframes backgroundmove {
  0% {
    background-position-y: 100vh;
  }
  100% {
    background-position-y: 100%;
  }
}
#l-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
#l-title {
  font-family: "checkmate-title" !important;
  font-size: 96px;
  overflow: hidden;
  color: white;
  width: 100%;
  text-align: center;
  text-shadow: 3px 3px skyblue;
}
#settings {
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
}
#r {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: fixed;
  right: 0px;
  top: 0px;
  background: rgba(255, 255, 255, 0.3);
  z-index: 10;
}
#user-control {
  width: 100%;
  text-align: center;
}
#user-info {
  width: 100%;
  text-align: center;
  color: white;
  float: right;
  margin-bottom: 0px;
}
#info {
  color: aliceblue;
  margin: 0;
  font-weight: 600;
}
#message-box {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 20%;
  z-index: 25;
}
#msg-sender:focus {
  width: 100%;
  filter: opacity(1);
  box-shadow: 0px 0px;
}
#msg-sender {
  width: 100%;
  transition: all 0.25s;
  filter: opacity(0.5);
}
#msg-container {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  filter: opacity(0.5);
}
#msg-container strong {
  -moz-user-select: all;
  -webkit-user-select: all;
}
#msg-container p {
  color: white;
  margin-bottom: 0rem !important;
  word-break: break-word;
}
#msg-container::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px;
  height: 1px;
}
#msg-container::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  background-color: skyblue;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
#msg-container::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  /* background   : #ededed; */
  border-radius: 10px;
}
.blue {
  background-color: blue !important;
  color: white;
}
.red {
  background-color: red !important;
  color: white;
}
.green {
  background-color: rgb(0, 180, 0) !important;
  color: white;
}
.orange {
  background-color: orange !important;
  color: white;
}
.pink {
  background-color: pink !important;
  color: black;
}
.purple {
  background-color: purple !important;
  color: white;
}
.chocolate {
  background-color: chocolate !important;
  color: white;
}
.maroon {
  background-color: maroon !important;
  color: white;
}
.crown {
  background-image: url("/img/crown.png") !important;
}
.city {
  background-image: url("/img/city.png") !important;
}
.mountain {
  background-image: url("/img/mountain.png") !important;
  background-color: gray !important;
}
.empty-city {
  background-image: url("/img/city.png") !important;
  background-color: gray !important;
  color: white;
}
.obstacle {
  background-image: url("/img/obstacle.png") !important;
}
* {
  padding: 0px;
  margin: 0px;
}
