#main{
  min-height: calc(100vh - 200px);
}

#main-part #container article .avatar {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 24px;
  left: 24px;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.1);
  border: 2px solid #fff;
}

#main-part #container article .verify {
  background: #fff center/14px no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  top: 56px;
  left: 56px;
}
#main-part #container article .post-manage{
  position: absolute;
  right: 16px;
  padding: 17px 0 0;
  color: #222;
  font-size: 16px;
  cursor: pointer;
}
#main-part #container article .post-manage>i{
  color: red;
}
#main-part #container article .verify-orange {
  background-image: url(/img/verify/verify_orange.svg);
}

#main-part #container article .verify-blue {
  background-image: url(/img/verify/verify_blue.svg);
}

.post-info-author {
  padding: 17px 0 0;
  color: #222;
  font-size: 16px;
  margin: 0 0 0 76px;
}

.post-info-author a {
  text-decoration: none;
}

.post-info-author .edit {
  float: right;
  position: relative;
  top: -21px;
}
.post-info-author .delete {
  float: right;
  position: relative;
  top: -21px;
  padding: 0px 5px;
}

.post-info-author-username {
  height: 21px;
  display: flex;
}

.post-info-author-username i {
  font-size: 21px;
  position: relative;
  top: -3px;
  left: 5px;
}

article .post-info-content object {
  word-break: break-word;
}

.post-info-meta {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #99a2aa;
  margin: 5px 0 10px 76px;
  font-size: 12px;
  display: flex;
}

#container #writepost {
  resize: none;
  outline: 0px;
  font-size: 16px;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f4f5f7;
  border: 1px solid #e5e9ef;
  border-radius: 4px;
  color: #555;
  min-height: 65px;
  padding: 5px 10px;
  line-height: normal;
  margin: 10px 0;
  width: 100%;
}

#container #write-submit::before {
  display: inline-block;
  animation: turn 1s linear infinite;
}

#container #writepost:hover {
  background-color: #fff;
  border-color: #00b5e5;
}
#container #writepost:focus {
  background-color: #fff;
  border-color: #00b5e5;
}
#container #write button {
  float: right;
  width: 70px;
  height: 32px;
  outline: none;
  /* background-color: #fb7299; */
  background-color: #00a0d8;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#getMore {
  position: relative;
  text-align: center;
  padding: 0;
  cursor: pointer;
  min-height: 60px;
  text-align: center;
  user-select: none;
}
#getMore a {
  outline: 0;
  display: block;
  padding: 20px 0;
  color: black;
}
#getMore a:hover {
  text-decoration: none;
}
#getMore p {
  display: block;
  padding: 20px 0;
  margin-bottom: 0;
}
.post-toolbar {
  margin-top: 5px;
  display: flex;
}
.post-toolbar span a:hover {
  text-decoration: none;
  color: #fb7299;
}
.post-toolbar > span {
  margin-right: 40px;
  font-size: 13px;
  margin-bottom: 5px;
  color: #99a2aa;
  cursor: pointer;
  display: flex;
}
.post-toolbar > span > a {
  user-select: none;
  color: #99a2aa;
  font-size: 15px;
  line-height: 15px;
}
.post-toolbar > span > a > i {
  font-size: 15px;
  margin-right: 3px;
}
.post-toolbar > span > a > i.icon-like.iconfont-like-fill {
  color: #fb7299;
}
article object .user.at {
  color: #fb7299;
}
article object .user.at:hover {
  color: #66ccff;
  text-decoration: none;
}
article object .gr {
  display: block;
  margin: 0 auto;
  width: 214px;
  height: auto;
}
article object .gp {
  display: block;
  margin: 0 auto;
  width: 62px;
  height: auto;
}
article.preview object {
  max-height: 200px;
  display: block;
  overflow-y: auto;
}
.center {
  text-align: center;
}
#sRight .rating .avatar {
  border-radius: 50%;
  float: left;
}
#sRight .rating .info {
  margin-left: 60px;
  line-height: 50px;
  overflow: hidden;
  white-space: nowrap;
  color: black;
}
#sRight .rating a:hover {
  text-decoration: none;
}
#sRight .rating .rank-box {
  background-image: repeating-linear-gradient(
    45deg,
    hsla(0, 0%, 100%, 0.3),
    hsla(0, 0%, 100%, 0.3) 15px,
    transparent,
    transparent 30px
  );
  display: inline-block;
  width: 100%;
}

#sRight .rating .rank-link:nth-child(5n + 1) .rank-box {
  background-color: #fff8e1;
}
#sRight .rating .rank-link:nth-child(5n + 2) .rank-box {
  background-color: #fff0e6;
}
#sRight .rating .rank-link:nth-child(5n + 3) .rank-box {
  background-color: #f7fdde;
}
#sRight .rating .rank-link:nth-child(5n + 4) .rank-box {
  background-color: #f4f6fe;
}
#sRight .rating .rank-link:nth-child(5n + 5) .rank-box {
  background-color: #fef4ff;
}

.colorbox .colorbox-content:nth-child(5n + 1) {
  background-color: #fff8e1;
}
.colorbox .colorbox-content:nth-child(5n + 2) {
  background-color: #fff0e6;
}
.colorbox .colorbox-content:nth-child(5n + 3) {
  background-color: #f7fdde;
}
.colorbox .colorbox-content:nth-child(5n + 4) {
  background-color: #f4f6fe;
}
.colorbox .colorbox-content:nth-child(5n + 5) {
  background-color: #fef4ff;
}
.sponsor-amount {
  float: right;
}

#carousel-ad{
  height: 200px;
}

.carousel-item {
  /* background: ; */
  height: 180px;
  overflow: hidden;
  background-size: contain, contain !important;
  background-position: center, center !important;
  background-repeat: no-repeat, repeat !important;
  cursor: pointer;
}

.carousel-item h3{
  text-shadow: 5px 5px 5px black;
}

.carousel-control-prev{
  background-image: linear-gradient(to right, rgb(100, 100, 100), transparent);
}

.carousel-control-next{
  background-image: linear-gradient(to left, rgb(100, 100, 100), transparent);
}

#footer{
  background-color: #e3e5eb;
  padding: 20px 0;
  margin: 0 auto;
}
#footer .link-box{
  width: 100%;
  text-align: center;
}
#footer .link-box a{
  color: grey;
  text-decoration: none !important;
}
#footer .link-box a:hover{
  color: skyblue;
}
#footer .footer-logo{
  width: 100px;
  filter: opacity(0.5);
  padding-left: 20px;
}
#footer .logo-box{
  padding-top: 50px;
}