<script src="/js/post/write.js"></script>
<div class="kana-item" id="write">
    <div>
        <textarea class="text-input" id="writepost" name="writepost" contenteditable="true"></textarea>
    </div>
    <button id="write-submit">发射</button>
</div>