<script src="/js/post/write.js"></script>
<div class="kana-item" id="write">
    <div>
        <div class="text-input" id="writepost" name="writepost" contenteditable="true"></div>
    </div>
    <button id="write-submit">发射</button>
</div>