<!DOCTYPE html>
<html>

<head>
    <title>Checkmate!</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"
        name="viewport">
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2.3.0/dist/socket.io.js"
        integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.bootcss.com/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
        integrity="sha256-OFRAJNoaD8L3Br5lglV7VyLRf0itmoBzWUoM+Sji4/8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
        integrity="sha256-aAr2Zpq8MZ+YA/D6JtRD3xtrwpEz2IqOS+pWD/7XKIw=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/blueimp-md5@2.15.0/js/md5.min.js"
        integrity="sha256-cpbDsuAF6YYKGsywuE65CvzsMKN6x4m6733ZnT3QHHE=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="index.css?ver=2.1.0b2">
</head>

<body>
    <div id="cover">
    </div>
    <div id="main">
        <div id="l">
            <h1 id="l-title">Checkmate!</h1>
            <br />
            <div>左键:选中;WASD:移动兵力;↑↓←→:移动选择;Q:清除所有移动;Z:清除上一次移动;空格:切换半兵/全兵;滚轮:缩放;左键拖动:移动视图;</div>
            <br />
            <div>总人数:<span id="total-user"></span></div>
            <div>准备人数:<span id="ready-user"></span></div>
            <button id="ready" class="btn btnv2" type="button">准备</button>
            <br />
            <button id="third" class="btn btnv2" type="button" style="margin-top: 5px">旁观</button>
            <br />
            <div id="half">全部派兵</div>
        </div>
        <table id="m">
        </table>
        <div id="r">
            <div id="user-control">
                <button id="login-button" class="btn btnv2" type="button"
                    style="margin-top: 5px;float: right;">登录</button>
                <p id='user-info' style="display: none"></p>
            </div>
            <br />
            <table id="info" class="table">
                <thead>
                    <tr>
                        <th>玩家昵称</th>
                        <th>领地数</th>
                        <th>兵力数</th>
                    </tr>
                </thead>
                <tbody id="info-content">
                </tbody>
            </table>
        </div>
        <div id="message-box">
            <div id="msg-container"></div>
            <input type="text" class="form-control" placeholder="输入聊天内容" id="msg-sender">
        </div>
    </div>
    <style id="font-size-control">
        #m td {
            width: 30px;
            max-width: 30px;
            height: 30px;
            max-height: 30px;
        }
    </style>
    <script src="index.js?ver=2.1.0b2"></script>
    <script src="client.js?ver=2.1.0b2"></script>
</body>

</html>