body{
    background: rgb(34,34,34);
}
#main{
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}
#m{
    position: fixed;
    /* width: 90vh;
    height: 90%; */
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: black 1px;
    border-spacing: 0px !important;
    z-index: -5;
}
#m td{
    overflow: hidden;
    border: 1px solid black;
    text-align: center;
    padding: 0;
    background: #dcdcdc;
}
#m .shown{
    border: 1px solid black;/*transparent*/
}
#m .unshown{
    background-color: rgba(255,255,255,0.1);
    border: 1px solid transparent;/**/
}
#m .selected{
    filter: opacity(0.8);
}
#m .own{
    cursor: pointer;
}
#m td{
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;    
    border-spacing: 0px;
    background-size: 100% 100%;
}
#l{
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;  
    position: fixed;
    height: 100%;
    width: 15%;
    background: grey;
    color: white;
    z-index: 10;
}
#l-title{
    overflow: hidden;
    color: white;
    width: 100%;
    text-align: center;
    font-family: cursive;
}
#r{
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;  
    position: fixed;
    right: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.3);
    z-index: 10;
}
#user-control{
    width: 100%;
    text-align: center;
}
#user-info{
    width: 100%;
    text-align: center;
    color: white;
    float: right;
    margin-bottom: 0px;
}
#info{
    color: aliceblue;
}
#message-box{
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 20%;
}
#msg-sender:focus{
    width: 100%;
    filter: opacity(1);
    box-shadow: 0px 0px;
}
#msg-sender{
    width: 100%;
    transition: all .25s;
    filter: opacity(0.5);
}
#msg-container{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#msg-container p{
    color: white;
    margin-bottom: 0rem !important;
    word-break: break-word;
}
#msg-container::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 10px;
    height: 1px;
}
#msg-container::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius   : 10px;
    background-color: skyblue;
    background-image: -webkit-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 75%,
        transparent 75%,
        transparent
    );
}
#msg-container::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    /* background   : #ededed; */
    border-radius: 10px;
}
.blue{
    background-color: blue !important;
    color: white;
}
.red{
    background-color: red !important;
    color: white;
}
.green{
    background-color: green !important;
    color: white;
}
.orange{
    background-color: orange !important;
    color: white;
}
.pink{
    background-color: pink !important;
    color: black;
}
.purple{
    background-color: purple !important;
    color: white;
}
.chocolate{
    background-color: chocolate !important;
    color: white;
}
.maroon{
    background-color: maroon !important;
    color: white;
}
.maroon{
    background-color: grey !important;
    color: white;
}
*{
    padding: 0px;
    margin: 0px;
}