<div class="kana-item">
    <div class="sponsor">
        <div class="payment-hover" style="display: none;">
            <i class="iconfont icon-close" onclick="closePayment()"></i>
        </div>
        <script>
        </script>
        <p style="color: grey;">请作者吃顿饭</p>
        <a class="kana-item" href="https://afdian.net/@by_ha" target="_blank">爱发电</a>
    </div>
    <br>
</div>

<div class="kana-item colorbox">
    <h5 style="text-align: center;">感谢投喂</h5>
    <div class="colorbox-content kana-item">
        kevin070828 <a class="sponsor-amount">￥13.00</a>
    </div>
    <div class="colorbox-content kana-item">
        jwcub <a class="sponsor-amount">￥5.00</a>
    </div>
    <div class="colorbox-content kana-item">
        Antagonism <a class="sponsor-amount">￥2.01</a>
    </div>
    <div class="colorbox-content kana-item">
        小瑄 <a class="sponsor-amount">￥2.00</a>
    </div>
    <div class="colorbox-content kana-item">
        b6e0 <a class="sponsor-amount">￥1.00</a>
    </div>
</div>