<div class="kana-item">
    <div class="sponsor">
        <div class="payment-hover" style="display: none;">
            <i class="iconfont icon-close" onclick="closePayment()"></i>
            <img>
        </div>
        <script>
            function showAlipay() {
                $(".payment-hover img").attr('src', 'https://kana-1252071452.cos.ap-shanghai.myqcloud.com/img/sponsor/alipay.jpg');
                $(".payment-hover").css("display", "unset");
            }
            function showWechat() {
                $(".payment-hover img").attr('src', 'https://kana-1252071452.cos.ap-shanghai.myqcloud.com/img/sponsor/wechat.jpg');
                $(".payment-hover").css("display", "unset");
            }
            function closePayment() {
                $(".payment-hover").css("display", "none");
            }
        </script>
        <p style="color: grey;">请作者吃顿饭</p>
        <a class="kana-item" onclick="showAlipay()">支付宝!</a>
        <a class="kana-item" onclick="showWechat()">微&nbsp;&nbsp;信!</a>
    </div>
    <br>
</div>

<div class="kana-item colorbox">
    <h5 style="text-align: center;">感谢投喂</h5>
    <div class="colorbox-content kana-item">
        KHIN <a class="sponsor-amount">￥52.60</a>
    </div>
    <div class="colorbox-content kana-item">
        LFC-伟大的哲学 <a class="sponsor-amount">￥10.00</a>
    </div>
    <div class="colorbox-content kana-item">
        伟大的哲学 <a class="sponsor-amount">￥5.00</a>
    </div>
    <div class="colorbox-content kana-item">
        Monic <a class="sponsor-amount">￥1.00</a>
    </div>
    <div class="colorbox-content kana-item">
        Sora <a class="sponsor-amount">￥1.00</a>
    </div>
    <div class="colorbox-content kana-item">
        Billy2007 <a class="sponsor-amount">￥0.01</a>
    </div>
    <div class="colorbox-content kana-item">
        忘不了最后一蓝发 <a class="sponsor-amount">￥0.01</a>
    </div>
    <div class="colorbox-content kana-item">
        Div5 <a class="sponsor-amount">￥0.01</a>
    </div>
</div>