<div class="kana-item">
    <div class="sponsor">
        <div class="payment-hover" style="display: none;">
            <i class="iconfont icon-close" onclick="closePayment()"></i>
        </div>
        <script>
        </script>
        <p style="color: grey;">请作者吃顿饭</p>
        <a class="kana-item" href="https://afdian.net/@by_ha" target="_blank">爱发电</a>
    </div>
    <br>
</div>

<div class="kana-item colorbox">
    <h5 style="text-align: center;">感谢投喂</h5>
    <% let sponsors=[{name: 'kana_user_1242' , amount: 5}, {name: 'CrispyCommand' , amount: 5}, {name: 'kevin070828'
        ,amount: 23}, {name: 'Mooos_MoShengwww' , amount: 20}, {name: 'jwcub' , amount: 5}, {name: 'Antagon1sm' ,
        amount: 10}, {name: 'Antagonism' , amount: 2.01}, {name: '小瑄' , amount: 2}, {name: 'b6e0' , amount: 1}] %>
        <% sponsors.sort((a,b)=>{return b.amount-a.amount}) %>
            <% sponsors.forEach(e=> { %>
                <div class="colorbox-content kana-item">
                    <%= e.name %> <a class="sponsor-amount">￥<%= e.amount.toFixed(2) %></a>
                </div>
                <% }); %>
</div>