body{
    background: rgb(34,34,34);
    padding: 0px;
    margin: 0px;
}
#m{
    z-index: -10;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: black 1px;
    border-spacing: 0px !important;
}
#m td{
    border: 1px solid black;
    text-align: center;
    padding: 0;
    background: #dcdcdc;
}
#m td:hover{
    border: 1px solid black;
    text-align: center;
    padding: 0;
    background: rgba(220,220,220,0.8);
}
#m .shown{
    border: 1px solid black;
}
#m .unshown{
    background-color: rgba(255,255,255,0.1);
    border: 1px solid transparent;
}
#m .selected{
    filter: opacity(0.8);
}
#m .own{
    cursor: pointer;
}
#m td{
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;    
    border-spacing: 0px;
    background-size: 100% 100%;
}
#l{
    z-index: 10;
    position: fixed;
    height: 100%;
    width: 15%;
    background: grey;
    color: white;
    padding: 0px;
    margin: 0px;
}
#l-title{
    overflow: hidden;
    color: white;
    width: 100%;
    text-align: center;
    font-family: cursive;
}
#l-subtitle{
    overflow: hidden;
    color: white;
    width: 100%;
    text-align: center;
    font-family: cursive;
}
.blue{
    background-color: blue !important;
    color: white;
}
.red{
    background-color: red !important;
    color: white;
}
.green{
    background-color: green !important;
    color: white;
}
.orange{
    background-color: orange !important;
    color: white;
}
.pink{
    background-color: pink !important;
    color: black;
}
.purple{
    background-color: purple !important;
    color: white;
}
.chocolate{
    background-color: chocolate !important;
    color: white;
}
.maroon{
    background-color: maroon !important;
    color: white;
}
.maroon{
    background-color: grey !important;
    color: white;
}