<div id="usercard" class="kana-item">
    <div id='usercard-bg' style="background: url('/img/banner.jpg')"></div>
    <a id="usercard-name" href="/user/username/<%= username %>">@<%= username %></a>
    <img id="usercard-avatar" src="https://kana-1252071452.cos.ap-shanghai.myqcloud.com/img/user/avatar/<%= uid %>.webp!50x50">
    <div id="usercard-info">
        <a id="usercard-info-article" class="usercard-info-content">
            <p class="num">0</p>
            <p class="txt">文章</p>
        </a>
        <a id="usercard-info-shuoshuo" class="usercard-info-content">
            <p class="num">0</p>
            <p class="txt">说说</p>
        </a>
        <a id="usercard-info-comment" class="usercard-info-content">
            <p class="num">0</p>
            <p class="txt">评论</p>
        </a>
    </div>
</div>